<div class="container mt-5">
    <div *ngIf="(basketService.basketSource$ | async) === null">
        <div class="d-flex justify-content-center mt-5">
            <p style="font-size: 3em;">Корзина пуста</p>
        </div>
        <div class="d-flex justify-content-center ">
            <button routerLink="/shop" style="font-size: 1.5em;" class="btn btn-outline-primary">Что-нибудь купить</button>
        </div>
        
    </div>

    <ng-container *ngIf="(basketService.basketSource$ | async) as basket">
        <div class="container">
            <div class="row">
                <app-basket-summary (addItem)="incementQuantity($event)" (removeItem)="removeItem($event)"></app-basket-summary>
            </div>

            <div class="row">
                <div class="col-6 offset-6">
                    <app-order-totals></app-order-totals>
                    <div class="d-grid">
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2">
                            Procced to checkout
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </ng-container>
</div>