<div class="container mt-5">
    <div *ngIf="(basketService.basketSource$ | async) === null">
        <p style="font-size: 3em; color: rgb(238, 184, 118);">Basket is empty</p>
    </div>

    <ng-container *ngIf="(basketService.basketSource$ | async) as basket">
        <div class="container">
            <div class="row">
                <app-basket-summary (addItem)="incementQuantity($event)" (removeItem)="removeItem($event)"></app-basket-summary>
            </div>

            <div class="row">
                <div class="col-6 offset-6">
                    <app-order-totals></app-order-totals>
                    <div class="d-grid">
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2">
                            Procced to checkout
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </ng-container>
</div>