<div class="container">
    <div class="row" *ngIf="product">
        <div class="col-6">
            <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="w-100">
        </div>

        <div class="col-6 mt-5">
            <h2>{{product.name}}</h2>
            <p style="font-size: 2em;">Цена: {{product.price}}$</p>

            <h5 class="text-primary mb-3" *ngIf="quantityInBasket > 0">
                В карзине товаров: {{quantityInBasket}}
            </h5>


            <div class="d-flex justify-content-start align-items-center">
                <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning me-2"
                    style="cursor: pointer; font-size: 2em;"></i>

                <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>

                <i (click)="incremantQuantity()" class="fa fa-plus-circle text-warning ms-2"
                    style="cursor: pointer; font-size: 2em;"></i>
                <button (click)="updateBasket()" [disabled]="quantity === quantityInBasket"
                    class="btn btn-outline-secondary ms-4">{{buttonText}}</button>
            </div>
            <div class="row mt-4">
                <h4>Описание</h4>
                <p>{{product.description}}</p>
            </div>
            <div class="row mt-2">
                <h4>Бренд</h4>
                <p>{{product.productBrand}}</p>
            </div>            
            <div class="row mt-2">
                <h4>Тип</h4>
                <p>{{product.productType}}</p>
            </div>
        </div>
    </div>
</div>