.cart-no{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background: rgb(191, 254, 1);
    color: rgb(0, 0, 0);
    text-align: center;
    top: -12px;
    right: 32px;
}
a{
    text-decoration: none;
    color: #343a40;

    &.active {
        color: rgb(247, 234, 148);
    }
}

.logo{
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}